@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

body {
    background-color: #e9e9e9;
}

.container {
    width: 595px;
    height: 842px;
    margin: 20px auto;
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
    display: flex;
    
    
}

.left-colums {
    width: 240px;
    height: 842px;
    background-color: #F0F6FF;
}

.face {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px 45px;
    border: 5px solid white;
}


.right-colums {
    width: 355px;
    height: 842px;
    background-color: white;
    
    
}